div{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  /* padding: 10px 0; */
}

ul{
  height: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

li{
  color: white;
  font-size: 30px;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
}

